version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: aidolist
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: haianh2309
      POSTGRES_DB: calendar_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: